*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.10);
    border: 1px solid black;
    

}
nav h3 {
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 600;
}
.nav_content {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.nav_content a {
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
    text-decoration: none;
    color: #111827;
    box-shadow: 0 2px 0 transparent; /* default: invisible line */
    transition: 0.3s ease;
}

.nav_content a:hover {
     box-shadow: 0 2px 0 rgba(17, 24, 39, 0.8); /* #111827 shade */
}

/* Main section */
main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px;
    border-top: none;
    padding: 20px 30px;
    margin-top: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);

}

.content {
    display: flex;
}
.heading h1 {
    font-weight: 600;
}

.para {
    width: 80%;
    font-size: 15px;
    text-align: left;
    padding-right: 10px;
}

.image {
    width: 350px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.menu-toggle {
    display: none;
}

.hidden {
    display: none;
}

nav label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 28px;
    cursor: pointer;
}
.menu {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (max-width: 480px) {

    nav {
        display: flex;
        margin: 10px;
        justify-content: space-between;
    }
    nav h3 {
        margin: 0;
        font-size: 20px;
    }
    .nav_content {
        opacity: 0;
        position: absolute;
        width: 100px;
        height: 170px;
        background-color: #ffffff;
        top: 10px;
        right: -10px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        transition: 0.2s ease-in-out;
        box-shadow: 0 4px 12px rgba(17, 24, 39, 0.1);
        border: 1px solid ;
        border-radius: 5px;
    }

    .hidden {
        display: flex;
    }
    
    .nav_content a {
        font-size: 14px;
    }

    main {
        margin: 10px;
        width: 100%;
    }

    .heading h1 {
        font-size: 17px;
    }

    .menu-toggle:checked ~ .nav_content {
        opacity: 1;
    }

    .content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .para {
        text-align: justify;
        width: 100%;
        font-size: 12px;
    }
    .image {
        width: 200px;
        height: 100px;
    }
}