*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    border: 2px solid black;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
}
nav h3 {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 600;
}
.nav_content {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.nav_content a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

/* Main section */
main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px;
    border: 2px solid black;
    border-top: none;
    padding: 20px 30px;
    margin-top: 0;
}

.content {
    display: flex;
}
.heading h1 {
    font-weight: 606;
}

.para {
    width: 80%;
    font-size: 15px;
    text-align: left;
    padding-right: 10px;
}

.image {
    width: 350px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}