*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
nav h3 {
    font-size: 24px;
    font-weight: bold;
}

